<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../fonts.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../js/script.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=12345678&text=Hola!%20Quisiera%20saber%20más%20información%20sobre%20..." class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i> </a>
    <!--Link Bootstrap CDN-->
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
 <link rel="stylesheet" href="../sass/css/pagina.css">

   
</head>
<body>
  <header class="main-header portada">
    <div class="container">
      <nav class="navbar navbar-expand-lg main-nav px-0">
       <a class="navbar-brand" href="../index.html">
					   <!-- <img src="..." width="50" height="30" class="d-inline-block align-top" alt="">-->
              SYSFITNESS
					    </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar icon-bar-1"></span>
                        <span class="icon-bar icon-bar-2"></span>
                        <span class="icon-bar icon-bar-3"></span>
                    </button>
        <div class="collapse navbar-collapse" id="mainMenu">
          <ul class="navbar-nav ml-auto text-uppercase f1">
            <li>
              <a href="../index.html"class="btn d-inline btn--1">home</a> <!--Para indicar que será diferente esa clase a las demás-->
            </li>
            <div class="dropdown bg-0000">
              <a class="btn d-inline btn--1 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Store
              </a>
              <div class="dropdown-menu text-white bg-dark" aria-labelledby="dropdownMenuLink ">
                <a class="dropdown-item text-white bg-dark" href="Musculosas.html">Musculosas</a>
                <a class="dropdown-item text-white bg-dark" href="Lenceria.html">Lenceria</a>
                <a class="dropdown-item text-white bg-dark" href="Bikinis.html">Bikinis</a>
              </div>
            </div>
            <li>
              <a href="views/Contactos.html"class="btn d-inline btn--1">contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
</header>


<!--CONTENIDO-->



<section class="section4">
   <h6>Contacto</h6>
 </section>

<div class="inicio-4">
   <a class="conjunto">
     <a href="../index.html">Inicio </a>/ Contacto
   </a>
  </div>
  







  <section id="contact">
    <div class="row m-0">
      <div class="col-md-7 bg-white">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26261.55145269407!2d-58.456444552109495!3d-34.63717409883604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccbb7065d907f%3A0x9ce77385d2f35dd3!2sParque%20Chacabuco%2C%20CABA!5e0!3m2!1ses-419!2sar!4v1611095241784!5m2!1ses-419!2sar"  width="100%vh" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

      </div>
  
        <div class="col-md-5 bg-white">
            <h4><strong>Get in Touch</strong></h4>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" name="" value="" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="" value="" placeholder="E-mail">
            </div>
            <div class="form-group">
              <input type="tel" class="form-control" name="" value="" placeholder="Phone">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="" rows="3" placeholder="Message"></textarea>
            </div>
            <button class="btn btn-default text-dark" type="submit" name="button">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>



 

<!--Footer--><!--Footer--><!--Footer-->
<footer>

  <div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
    <footer>
        <div class="row my-5 justify-content-center py-5">
            <div class="col-11">
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                        <h3 class="text-muted1 mb-md-0 mb-5 bold-text muted">SYSFITNESS.</h3>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                        <ul class="list-unstyled ">
                          <li><a class="text-light" href="../index.html">Home</a></li>
                          <li><a class="text-light" href="../views/Lenceria.html">Lenceria</a></li>
                          <li><a class="text-light" href="../views/Bikinis.html">Bikinis</a></li>
                          <li><a class="text-light" href="../views/Musculosas.html">Musculosas Reductoras</a></li>
                          <li><a class="text-light"href="../views/Contactos.html">Contacto</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 text-muted1 bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
                        <p class="mb-1">Ciudad Autonoma de Buenos Aires</p>
                        <p>Parque chacabuco</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                        <p class="social text-muted1 mb-0 pb-0 bold-text"> <span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p><small class="rights"><span>&#174;</span> All Rights Reserved.</small>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                        <h6 class="mt-55 mt-2 text-muted1 bold-text"><b>.......</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> a@gmail.com</small>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
                        <h6 class="text-muted1 bold-text"><b>..........</b></h6><small><span><i class="fa fa-envelope" aria-hidden="true"></i></span> @gmail.com</small>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>


</footer>


</div>



  <!---================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- Scripts -->
  <script src="scripts/index.js"></script>
</body>
</html>